.hero-slider{
   
    height: 700px;
    width: 100%;
    /* background-image:url(); */
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slider-img{
    position: absolute;
    width: 105%;
    height: 101%;
    object-fit: cover;
    filter: blur(9px);
    top:0;
    left:0;
    z-index: -1;
}


/* .hero-slider::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
   opacity: 0;
   background-color: #000;
   
    z-index: -1;
} */
.hero-slider img::before{
   

}

.btn-controll{
    height: 5rem;
    width: 5rem;
    background-color: transparent;
    font-size: 2.5rem;
    border: 0;
    
}
.btn-controll:hover{
    background-color:#002072;
}


.test-h{
   background: rgba(0,0,0,0.5);
    
}


/* x-small device */
@media only screen and (max-width: 576px) {
   
    .btn-controll{
        height: 50px;
        width: 50px;
        font-size: 22px;
        background-color: #fff;
        color:#444
    }
        
        
    }

