.das-menu-item{
    border-radius:0;
}
.das-menu-item a {
    background-color: transparent;
    color:#fff;
    border-radius:0 !important;
    
}
.das-menu-item a:hover {
    background-color: #333333;
   
}
a.active-btn{
    background-color: #333333;
}
